@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(img/background.webp);
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
  font-size: 25pt;
  color: #fff;
  margin-bottom: 0;
  font-weight: bold;
}

button {
  background-color: #009900;
  padding: 1.5em 3em;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 12pt;
  font-weight: bold;
}

#players-area,
#dealers-area {
  padding: 5rem 0;
}

#players-area div,
#dealers-area div {
  align-items: center;
  justify-content: center;
  display: flex;
}

.players-score,
.dealers-score {
  border-radius: 50%;
  background: #000000a3;
  color: #fff;
  width: 75px;
  height: 75px;
  align-items: center;
  justify-content: center;
  margin-left: 5em;
  display: flex;
  font-weight: bold;
  font-size: 16pt;
}

#buttons div {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.stand-container,
.hit-container {
  display: none !important;
}

#play-again {
  display: none;
}

#stand-button,
#hit-button {
  margin: 0 1em;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  margin-right: 30pt;
}

.card {
  width: 120px;
  margin-left: 10px;
}

#game-area {
  padding: 1.5em 0;
}

h4 {
  color: #fff;
  font-size: 17pt;
  margin-left: 1em;
}

.score-container {
  visibility: hidden;
}
