body {
  background-color: green;
}

h1 {
  text-align: center;
  font-size: 40pt;
  color: #fff;
}

#dealers-cards,
#players-cards {
  text-align: center;
  list-style: none;
  color: #fff;
}

#players-area,
#dealers-area {
  margin-top: 100pt;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score {
  border-radius: 50%;
  background: #eee;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

#stand-button,
#hit-button,
#play-again {
  display: none;
}

#buttons {
  text-align: center;
}

ul {
  margin-right: 30pt;
}

.card {
  width: 100px;
  margin-left: 10px;
}
